    .admin-panel-wrapper {
        display: flex;
    }
    
    .dashboard-main-add-homestay {
        flex-grow: 1;
        padding: 20px;
        
    }

    .admin-panel-wrapper-manage-booking{
        margin-top: 100px;
    }
    
    .list-product {
        margin-top: 10px;
        
    }
    
    .all-booking-list{
        display: flex;
        align-items: center;
        gap: 10px;
        
        
    }
    .manage-homestay-header div{
        display: flex;

    }

    .manage-customer-header h5{
        
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 18px;
            font-weight: 600 !important;
        
    }
     .manage-customer-header{
        position: fixed !important;
        top: 80px;
        z-index: 1;
        width: 82%;
    } 
    .manage-homestay-header div input{
        margin-right: 10px;
        padding: 0 20px;
        outline: 0;
    }
    .list-product h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    .list-product-table {
        width: 100%;
        border-collapse: collapse;
    }
    
    .list-product-table th,
    .list-product-table td {
        width: 300px;
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
        
    }
    
    .list-product-table th {
        background-color: #f4282862;
    }
    
    .list-product-table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    .list-product-update-item,
    .list-product-delete-item {
        padding: 5px 10px;
        cursor: pointer;
        border: none;
        background-color: #007bff;
        color: #fff;
        border-radius: 3px;
    }
    
    .list-product-update-item:hover,
    .list-product-delete-item:hover {
        background-color: #0056b3;
    }
    