.whatsapp-button-wrapper{
    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 100;
}
.whatapp-button{
    padding: 15px 15px 10px 15px;
    border-radius: 100px;
    background-color: #26d366;
}

.whatsapp-icon{
    font-size: 30px;
    color: rgb(255, 255, 255) !important;
    padding: 0 !important;
    margin: 0 !important;
}