    .list-product{
        transform: scale(1);
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 0px;
        border-radius: 6px;
        background-color: white;
        
    }
    .list-product h5{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 18px;
        font-weight: 600 !important;
    }
    .manage-homestay-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .manage-homestay-header button{
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        background-color: blue;
        padding: 10px 20px;
        border: none;
        outline: none;
        cursor: pointer;
        margin-right: 10px;
    }
    .list-product-format-main{
        display: grid;
        /* grid-template-columns: 2fr 4fr 2fr 2fr 1fr 1fr; */
        gap: 10px;
        width: 100%;
        padding: 20px 0;
        color: #454545;
        font-size: 15px;
        font-weight: 600;
    }
    .list-product-format{
        align-items: center;
        font-weight: 500;
    }

    .list-product-product-icon{
        height: 80px;
    }

    .list-product-update-item{
        cursor: pointer;
        padding: 5px 15px;
        background-color: blue !important;
        color: white;
        border-radius: 0px !important;
        outline: none;
        border: none;
        font-size: 14px;
        display: flex !important;


    }

    .list-product-delete-item{
        cursor: pointer;
        padding: 5px 15px;
        background-color:red;
        color: white;
        border-radius: 5px;
        outline: none;
        border: none;

    }

    .list-product-all-products{
        overflow-y: auto;
        width: 100%;
    }




    .list-product-table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 10px 30px; 
      }
      
      .list-product-table th, .list-product-table td {
        text-align: left;
        vertical-align: middle;
        font-size: 13px;

      }
      
.column-name { width: 30%;  }
.column-address { width: 45%;}
.column-phone { width: 10%; }
.column-email { width: 5%; }
.column-room { width: 1%; }

      
      
.list-product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .list-product-table th,
  .list-product-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    width: 170px !important;
  }
  
  .list-product-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .list-product-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  td button {
    z-index: 5;
  }
  
  /* .list-product-table tbody tr:hover {
    background-color: #ddd;
  }
   */
  .list-product-update-item,
  .list-product-delete-item {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .list-product-update-item:hover,
  .list-product-delete-item:hover {
    background-color: #45a049;
  }
  

    @media (max-width: 800px){
        .list-product{
            box-sizing: border-box;
            width: 95%;
            height: 100%;
            padding: 10px 30px;
        }
        .list-product-format-main{
            padding: 15px 0;
            color: #454545;
            font-size: 12px;
        }
        .list-product-product-icon{
            height: 60px;
        }
    }