.login-form-wrapper{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form-wrapper form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding:30px  30px 60px 30px;
    border-radius: 10px;
    background-color: rgba(255, 2, 2, 0.301);
}
.login-form-wrapper form p{
    font-weight: 600;
    font-size: 20px;
}
.login-form-wrapper form input{
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 14px;
}
.login-form-wrapper form button{
    width: 100%;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: #ee2e29;
    color: white;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
}