.dashboard-sidebar{
    height: 100vh;
    overflow: hidden;
    width: 250px !important;
    max-width: 250px;
    background-color: rgb(236, 236, 236);
}
.dashboard-sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 30px;
    
}
.dashboard-sidebar button{
    width: 150px;
    padding: 10px 20px;
    cursor: pointer;
}
