@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');
@font-face {
  font-family: "buttermilk";
  src: url("../public/Buttermilk.otf");
}
/* color code: red: #9d7e7b */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 100%;
}

.container{
  width: 80%;
  margin: auto;
}

.link{
  text-decoration: none;
}

.icon{
  color: #9d7e7b;
}

@media (max-width: 1280px){
  .container{
    width: 85%;
  }
}
@media (max-width: 1024px){
  .container{
    width: 90%;
  }
}
@media (max-width: 800px){
  .container{
    width: 95%;
  }
}
@media (max-width: 500px){
  .container{
    width: 100%;
  }
}