.green {
    background-color: rgba(0, 128, 0, 0.352);
}

.red {
    background-color: rgba(255, 0, 0, 0.397);
}

.form-wrapper input,
textarea {
    outline: 0;
}
.add-customer form{
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start;
    width: max-content;
}

.form-first-part{
    display: flex;
    gap: 40px;
    /* justify-content: space-between; */
}
.form-second-part{
    display: flex;
    gap: 40px;
    /* justify-content: space-between; */
}

.custom-toast-success {
    background-color: green;
    color: white;
}
.form-second-part-left p{
    font-weight: 600;
    font-size: 20px;
}
.form-second-part-right{
    margin-top: 36px;
    position: relative;
}
.tour-form-data-wrapper{
    display: flex;
    gap: 80px;
}
.custom-toast-error {
    background-color: red;
    color: white;
}


.add-tour{
    background-color: green;
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    outline: 0;
    border: 0;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    width: fit-content;
}
.remove-tour{
    position: absolute;
    right: 0;
    background-color: red;
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    outline: 0;
    border: 0;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}
.rooms-form{
    margin-bottom: 10px;
}
.tour-form-data{
    margin-bottom: 20px;
}
.tour-form-data h3{
    margin-top: 50px;
}